src/
lib/
node_modules/
.git/
.gitignore
*.log
.DS_Store
.idea/
.vscode/
tsconfig.json
*.tsbuildinfo
package-lock.json
dist/__tests__
coverage/
*.test.js
*.test.d.ts
*.test.js.map
*.test.d.ts.map
**/__tests__/**
